.logo{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 10px;
}
.headers-buttons{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: flex-end;
    overflow-x: auto;
}
.conteinerBanner{
    display: flex;
    width: 100%;
    height: 557px;
    background-image: url('../assets/01.jpg');  
    background-size: cover;
    background-position: center;
    align-items: center;

}
.business-area{
    margin: 0 auto;
    width: 25%;
    height:calc(100% + 5px);
    position: relative;
    top: -15px;
    background-color: rgba(38,39,41,0.888);
    border: solid 2px rgb(71, 73, 77);
    border-radius: 5px;
    box-shadow: 1px 5px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 300px; 
    gap: 20px;
    overflow-x: auto;
    
}
.business-area .title{
    display: flex;
    margin: 10px auto;
    color: white;
    text-align: center;
}
.business-area .card{
    color: white;
    width: 90%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-2);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    box-shadow: 1px 5px 10px rgb(63, 63, 63) ;
    margin: 10px auto;
    gap: 10px;
}
.card h2 {
    font-size: var(--title-1-size);
}
.card h4, span, p{
    font-size: var(--text-2-size);
}
.coneiternerBottom {
    margin-top: -40px;
      background-color: rgb(38,39,41);
      width: 100%;
      height: 60vh;
  }
  .coneiternerBottom .center {
      width: 90%;
      margin: 0 auto;
      color: white;
  }
  .coneiternerBottom .center h2{
      padding: 50px;
      color: white;
      text-align: center;
  }

@media (max-width:500px){
    .headers-buttons{
        justify-content: flex-start;
        margin: 0 auto;
    }
    
    .business-area{
       min-width: 300px; 
    }
    .form{
        width: 80%;
    }

}
